root {
    --orange: #FF8C00;
    --red: #ff3b30;
    --green: #34c759;
    --bg: #ffffff;
    --text: #1a1a1a;
}

body {
    font-family: -apple-system, system-ui, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 12px solid var(--orange);
    box-sizing: border-box;
    /* Añade esto a tu <style> */
#flashlight-overlay {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background: white; display: none; z-index: 9999;
    justify-content: center; align-items: center;
}
#flashlight-overlay span { color: black; font-size: 5rem; }

}


